html {
    font-family: 'Cardo', serif;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: azure;
}

#home h1 {
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
}